.MyLittleAccordeon {
  max-width: 30%;

  .MyLittleAccordeon-header {
    background-color: bisque;
    border: 1px solid grey;
    border-bottom: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em;

    &:last-of-type {
      border-bottom: 1px solid grey;
    }

    &.show + .MyLittleAccordeon-content {
      border: 1px solid grey;
      border-bottom: none;
      height: auto;
      max-height: 200px;
      transition: max-height 0.5s ease;
    }
  }

  .MyLittleAccordeon-content {
    background-color: coral;
    font-size: 0.8em;
    overflow: hidden;
    margin: 0;
    max-height: 0;
    padding-left: 20px;
    transition: max-height 0.5s ease;
  }
}
