.MyLittleAccordeon {
}
.MyLittleAccordeon-header {
}
.MyLittleAccordeon-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}
.MyLittleAccordeon-content.show {
  height: auto;
  max-height: 200px;
  transition: max-height 0.5s ease;
}
